@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
<h1> Dashboard </h1>

<div class ="stats-grid">
    <DashboardCard Title="Total Projects" Value="24" Color="Green"/>
    <DashboardCard Title="Finished Projects" Value="10" />
    <DashboardCard Title="Running Projects" Value="12" />
    <DashboardCard Title="Pending Projects" Value="2" />
</div>

<div class="dashboard-grid">
<ProjectProgress Percentage="41" />
</div>