<div class="progress-card">
    <h3>Project Progress</h3>

    <div class="progress-circle">
    <span>@Percentage</span>
</div>
</div>

@code{
    [Parameter] public int Percentage{get;set;}
    
}

