<nav class="sidebar">
    <h2 class="logo">Donezo</h2>

    <ul>
        <li>
            <NavLink href="/" Match="NavLinkMatch.All">Dashboard</NavLink>
        </li>
        <li>
            <NavLink href="/tasks">Tasks</NavLink>
        </li>
        <li>
            <NavLink href="/team">Team</NavLink>
        </li>
    </ul>
</nav>