<div class="topbar">
    <input type="text" placeholder="Search..." class="search-box" />

    <div class="topbar-right">
        <span>🔔</span>
        <span>✉</span>
        <img src="https://i.pravatar.cc/40" class="avatar" />
    </div>
</div>