@inherits LayoutComponentBase

<div class="app-container">
    <SideBar />

    <div class="main-content">
        <TopBar />
        <div class="content-area">
            @Body
        </div>
    </div>
</div>